@using ModelsModelsModels.Models
@model MultipleObjectsWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>My Message: @Model.MyMessage</p>
    <p>My Number: @Model.MyNumber</p>

    <ul>
        @foreach(User user in Model.MyUsers)
        {
            <li>@user.FirstName @user.LastName</li>
        }
    </ul>
</body>
</html>