@using SessionIntro.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form asp-action="FormSubmit" asp-controller="Home" method="post">
            <div class="form-group row">
                <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="FirstName"></span>                
                <label asp-for="FirstName" class="col-sm-4"></label>
                <input asp-for="FirstName" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="LastName"></span>
                <label asp-for="LastName" class="col-sm-4"></label>
                <input asp-for="LastName" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Age"></span>
                <label asp-for="Age" class="col-sm-4"></label>
                <input asp-for="Age" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <input type="submit" value="Submit" class="col-sm-4 offset-sm-4 btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>