@model IndexWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Welcome to Spoopy Halloween!</h1>
        <div class="row">
            <ul>
                @foreach(string word in Model.MyStrings)
                {
                    <li>@word</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Add a House</h2>
                <partial name="HouseFormPartial" model="@Model.HouseForm"/>
            </div>
            <div class="col-sm-6">
                <h2>Add a Trick Or Treater</h2>
                <form asp-action="SubmitTreater" asp-controller="Home" method="post">
                    <partial name="TrickOrTreaterPartial" model="@Model.TrickOrTreaterForm"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>