<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>This is my form</h1>
        <a href="/gosomewhereelse">Go Elsewhere</a>
        <form action="/formsubmit" method="post">
            <div class="form-group row">
                <label class="col-sm-4" for="name">Name: </label>
                <input type="text" name="name" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <label for="age" class="col-sm-4">Age: </label>
                <input type="number" name="age" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <input type="submit" value="Submit" class="col-sm-4 offset-sm-4 btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>